/*--------Typography Start----------*/
*{
	margin:0;
	padding:0;
}
body{
	font-family: WendyLPStd-Medium; !important;
	transition: all 0.5s ease;
	-webkit-transition:all 0.3s all ease;
	background-color: #FFFFFF;
}
body, html{
	height:100%;
}
img{
	max-width:100%;
}
a{
	text-decoration:none;
}
a{
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	margin-top:10px;
	margin-bottom:10px;
}
p{
	line-height: 150%;
	margin-bottom: 2em;
}
.container_full{
	width:100%;
	height:auto;
}
.container{
	width:1280px;
	margin:0 auto;
}

.fix{
	overflow:hidden;
}
.aligncenter{
	display:block;
	margin:0 auto;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
/*---------------Typography End----------------------*/
/*---------------Stay focused Part Start--------------------*/
#stay_focused{
	width:1280px;
	overflow: hidden;
	margin-top: 90px;
	margin-bottom: 60px;
}
.focused_left_side{
	width:620px;
	margin-right: 40px;
}
.focused_right_side{
	width:620px;
	
}
.focused_left_side p{
	font-size: 25px;
	color:#861D9D;
	text-align: justify;
}
.Stay-Focused-on{
	font-family: WendyLPStd-Medium;
	font-size: 80px;
	color:#F8AD41;
	font-weight: bold;
	margin-left:15px;
}
.Mission_2022_h1{
	font-family: WendyLPStd-Medium;
	font-size: 100px;
	color:#D4202D;
	font-weight: bold;
	margin-left:15px;
}
.all-h1-focused{
	border-left: 6px solid green;
}
.focused_left_side p{
	color:#861D56;
}
.focused-link{
	background-color: #1FB3B8;
	padding: 15px 60px;
	color:white;
	border-radius: 5px;
	font-size: 30px;
	margin-bottom: 20px;
}
.focused-link:hover{
	background: #149B2F;
	transition: 0.3s all ease;
	color:white;
	cursor: pointer;
	box-shadow: 5px 5px 10px #092E3B;
	
}
.focused_right_side	img{
	width:600px;
}
/*---------------Stay focused Part End--------------------*/
/*---------------Mission-2022 Part Start--------------------*/
.Mission_2022{

}

.Mission_2022 h1{
	color:black;
	font-size: 80px;
	text-align: center;
	font-weight: bold;
	font-family: WendyLPStd-Medium;
}
.Mission_single_part h2{
	color:#F8AD41;
	font-weight: bold;
	font-family: WendyLPStd-Medium;
}
.Mission_single_part p{
	color:black;
	font-family: WendyLPStd-Medium;
	text-align: justify;
}
.Mission_single_part{
	width:380px;
	height: 350px;
	margin-right: 20px;
	background-color: #FFF4D6;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 25px;
	box-shadow: 5px 5px 20px #092E3B;
	
}
.Mission_single_part img{
	width:200px;
	
}
.nomrgin-right{
	margin-right: 0px;
	background-color: #FFEEEE;
}
.left-side-single-part{
	margin-left:4px;
	background-color: #EDF5F6;
}
/*---------------Mission-2022 Part End--------------------*/
/*---------------Devlop Limits Part Start--------------------*/
.devlop-limits{
	margin-top: 40px;
	
}
.devlop_left_side{
	width:620px;
	margin-right: 20px;
}
.devlop_left_side img{
	width:550px;
}
.devlop_right_side{
	width:620px;
	margin-top:50px;
}
.devlop_right_side h1{
	font-size: 60px;
	font-weight: bold;
	font-family: WendyLPStd-Medium;
}
.devlop_right_side p{
	color:#A51D56;
	font-size: 25px;
	text-align: justify;
}
.devlop-link{
	background-color: #1FB3B8;
	padding: 15px 55px;
	color:white;
	border-radius: 5px;
	font-size: 30px;
	margin-bottom: 20px;
}
.devlop-link:hover{
	background: #149B2F;
	transition: 0.3s all ease;
	color:white;
	cursor: pointer;
	box-shadow: 5px 5px 10px #092E3B;
}
/*---------------Devlop Limits Part End--------------------*/
/*---------------Global comununity Part Start--------------------*/
.global-comununity{
	margin-top: 120px;
	margin-bottom: 120px;
}
.global_cmnity_left_part{
	width:620px;
	margin-right: 20px;
	margin-top:60px;
}
.global_cmnity_left_part h1{
	font-size: 60px;
	font-weight: bold;
	font-family: WendyLPStd-Medium;
	color:#333333;
}

.global_cmnity_left_part p{
	color:#A51D7C;
	font-size: 25px;
}
.global_cmnity_right_part{
	width:620px;
	
}
.global_cmnity_right_part img{
	width:580px;
	padding-right: 0px;
	float: right;
}
.global-cmnity-link{
	background-color: #1FB3B8;
	padding: 15px 55px;
	color:white;
	border-radius: 5px;
	font-size: 30px;
	margin-bottom: 20px;
}
.global-cmnity-link:hover{
	background: #149B2F;
	transition: 0.3s all ease;
	color:white;
	cursor: pointer;
	box-shadow: 5px 5px 10px #092E3B;
}
/*---------------Global comununity Part End--------------------*/
/*---------------Build Corona Application Part Start--------------------*/
.Build-Corona-Application{
	margin-top: 100px;
}
.Bld_corona_app_h1{
	text-align: center;
	font-size: 80px;
	margin-bottom: 50px;
	font-family: WendyLPStd-Medium;
	font-weight: bold;
}
[type=text], select, textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-bottom: 16px; 
	resize: vertical;
  }
  
  
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  input[type=Email] {
	width: 96.6%;
	background-color: white;
	color: white;
	padding: 15px 20px;
	border:1px solid #CCCCCC;
	border-radius: 4px;
	cursor: pointer;
  }
 
 input[type=submit]{
	background-color: #1FB3B8;
	padding: 10px 55px;
	color:white;
	border-radius: 5px;
	font-size: 15px;
	margin-bottom: 20px;
  }
  
/*-------Build Corona Application End--------------*/
/*------------------footer part Start-----------------*/
.footer{
	background-color: #0B0D17;
}
.footer h1{
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
	padding: 30px;
}
.footer p{
	color:#fff;
	text-align:center;
}
.background_bg{
	background-color: #0B0D17;
}
/*------------------footer part End-----------------*/